body {
    background-color: #6b1700;
    font-size: 16px;
    margin: auto;
}

h1 {
    font-family: calibri, san-serif;
    color: white;
}

h3 {
    font-weight: bold;
}


.h1h {
    margin-bottom: 30px;
    font-weight: bold;
}

section .container {
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
    margin: auto;
}

#header-nav {
    background-color: rgb(203, 101, 0);
    border-radius: 0;
    border: 1px solid black;
}

.navbar-brand {
    padding-top: 25px;
}


.navbar-brand h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Helvetica;
    text-shadow: 1px 1px 1px #222;
    margin-top: -10px;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5em;
}

#nav-list a:hover {
    background-color: black;
    color: white;
}

hr {
    width: 50%;
}

p {
    font-family: Helvetica;
    font-size: 16px;
    margin: 15px 10px 10px 10px;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    #collapsable-nav {
        border: 1px solid black;
    }

    #collapsable-nav:hover {
        border: 1px solid black;
    }

    section .container {
        border: 1px solid black;
        padding: 5px;
        background-color: gray;
        margin: 0 20px;
    }

}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid black;
}